<div id="Tweet-summary" style="float: left;left: 400px;position: absolute;top: 52px;width: 35%;">
  <div id="title">Send School Invitation</div><br />
  <%= form_for @school_admin, :url => admin_schools_path, :method => "POST" do |f| %>
    <table width="100%">
      <tr>
        <td>First Name:</td>
        <td><%= f.text_field :first_name%></td>
        <td><%#= validation_error(@school_admin.errors["first_name"])%></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><%= f.text_field :last_name%></td>
        <td><%#= validation_error(@school_admin.errors["last_name"])%></td>
      </tr>
      <tr>
        <td>School Name:</td>
        <td><%= f.text_field :school_name%></td>
        <td><%#= validation_error(@school_admin.errors["school_name"])%></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= f.text_field :email %></td>
        <td><%#= validation_error(@school_admin.errors["email"])%></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
</div>